@media screen and (min-width: 120mm) {
    body {
        margin-left: 20%;
    }
    footer {
    }
    input[type="button"],
    input[type="submit"] {
        padding: 5px 10px;
        background: #FFCC87;
        border: 2px solid #2cabcf;
        border-radius: 10px;
        color: #00617D;
    }
    input[type="button"]:hover,
    input[type="submit"]:hover {
        background: #2cabcf;
        border: 2px solid #FFCC87;
        color: #FFCC87;
    }
    a:link {
        text-decoration: none;
    }
    .btn {
        display: inline-block;
    }
    .type {
        display: block;
        padding: 15px 10px;
    }
    .type video {
        max-width: 500px;
    }
    .type img {
        max-width: 500px;
    }
    h2 {
        color: #00617D;
        padding: 0px 50px;
    }
    h1 {
        color: darkslategrey;
        padding: 15px 0px;
        text-align: center;
        background: #FF9404;
        border: 2px solid darkslategrey;
        border-radius: 10px;
        width: 80%;
    }
    form {
        padding: 20px 0px;
    }
}