@media screen {
    html {
        min-height: 100%;
        min-width: 100%;
    }
    body {
        margin: 0 auto;
        width: 60%;
        height: 100%;
        color: #003443;
        position: relative;
    }
    .btn,
    input[type="button"],
    input[type="submit"] {
        padding: 5px 25px;
        background: #FFCC87;
        border: 2px solid #2cabcf;
        border-radius: 10px;
        color: #00617D;
        font-size: 1.1em;
    }
    .btn:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover {
        background: #2cabcf;
        border: 2px solid #FFCC87;
        color: #FFCC87;
    }
    input[type="button"] {
        margin-right: 25px;
    }
    input[type="submit"] {
        margin: 10px 0px;
        display: block;
    }
    input[type="text"],
    input[type="password"] {
        margin: 20px 0px;
        background-color: #FFF6E7;
        font-size: 0.9em;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    a:link {
        text-decoration: none;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    a:visited {
        color: #00617D;
    }
    a:hover {
        color: #FFCC87;
    }
    .btn {
        display: inline-block;
    }
    .type {
        display: block;
        margin: 5px 5%;
        border: 1px solid #2cabcf;
        text-align: center;
        border-radius: 5mm;
        background-color: #FFF6E7;
        width: 90%;
        max-width: 100%;
    }
    .type video {
        max-width: 100%;
    }
    .type img {
        max-width: 100%;
    }
    .type audio {
        width: 80%;
    }
    .type,
    form {
        font-size: 1.1em;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    h2 {
        color: #00617D;
        padding: 0px 50px;
    }
    h1 {
        color: darkslategrey;
        padding: 15px 0px;
        text-align: center;
        background: #FF9404;
        border: 2px solid darkslategrey;
        border-radius: 10px;
        width: 100%;
        text-shadow: -1px 1px 2px #2cabcf;
    }
    footer {
        font-size: 0.6em;
        position: relative;
        bottom: 0;
    }
    form {
        padding: 20px 0px;
        margin-left: 5%;
    }
    label {
        padding-right: 15px;
    }
    .error {
        font-size: 1.5em;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #FF9404;
        margin-left: 35px;
        padding: 25px 40px;
        display: block;
    }
    .ok {
        font-size: 1.5em;
        color: #00617D;
        margin-left: 35px;
        background-color: #FFF6E7;
        border: 1px solid #2cabcf;
        border-radius: 1mm;
        padding: 5px 40px;
    }
    .result {
        font-size: 1.5em;
        color: #00617D;
        background-color: #FFF6E7;
        border: 1px solid #2cabcf;
        border-radius: 10mm;
        display: block;
        text-align: center;
        margin: 3% 1px 0px 25%;
        width: 50%;
    }
    #container {
        position: relative;
        height: 100%;
    }
    #main {
        position: relative;
    }
}

@media screen and (max-width: 120mm) {
    body {
        margin-left: 1%;
        width: 97%;
    }
    .btn,
    input[type="button"],
    input[type="submit"] {
        padding: 1px 4px;
        border: 1px solid #2cabcf;
        font-size: 0.9em;
    }
    .btn:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover {
        border: 1px solid #FFCC87;
    }
    input[type="submit"] {
        margin: 2px 0px;
        display: block;
    }
    input[type="text"],
    input[type="password"] {
        margin: 2px 0px;
        font-size: 0.7em;
    }
    .type {
        margin: 2px 0%;
        width: 100%;
    }
    p {
        margin: 5px;
    }
    .type,
    form {
        font-size: 0.8em;
    }
    .type audio {
        width: 100%;
    }
    h2 {
        padding: 0px 30px;
        font-size: 1.2em;
    }
    h1 {
        padding: 10px 0px;
        border: 1px solid darkslategrey;
        margin-top: 1%;
    }
    footer {
        margin-top: 3%;
        font-size: 0.4em;
    }
    form {
        padding: 10px 0px;
        margin-left: 2%;
    }
    label {
        padding-right: 5px;
    }
    .error {
        font-size: 1.1em;
        margin: 0;
        text-align: center;
        padding: 15px 0px;
    }
    .ok {
        font-size: 1em;
        margin: auto 15%;
        padding: 3px 3px;
    }
    .result {
        font-size: 1em;
        margin: 3% 1px 0px 10%;
        width: 80%;
    }
}